{
    font-family: Helvetica;
}

body {
    background-color: #EAEAEA;
    margin: 0;
}

img {
    width: 100%;
}

nav, footer {
    background-color: #625B5B;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    font-weight: bold;
    background-color: #EAEAEA;
    color: #625B5B;
    padding: 10px;
    margin: 50px;
    text-decoration: none;
    border-radius: 20px;
}

nav a:hover {
    background-color: #625B5B;
    color: #EAEAEA;
    border: 1px solid #EAEAEA;
}

ul {
    margin-left: 40px;
    list-style-type: circle;
}
table {
    border: 1px dashed #625B5B;
    width: 60%;
    margin-left: 40px;
    text-align: center;
    border-collapse: collapse;
}

th, td {
    border: 1px dashed #625B5B;
}
